BODY {
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.login {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: #474747;

    min-width: 200px;
    max-width: 350px;
}

.login .caption {
    font-size: 17px;
    color: #B3B3B3;
    line-height: 38px;

    vertical-align: middle;

    text-transform: uppercase;
}

.login .loginCaption {
    color: #9DD22D;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;

    padding-bottom: 0.3em;
    padding-left: 1px;
    margin: 0;

    text-transform: uppercase;
}

.login .username, .login .password {
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background: #fff none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    width: 100%;
}

.username:focus, .password:focus {
    outline: #9DD22D auto 5px;
}

.login .submit-button {
    border: none;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border-radius: 0.25rem;
    font-size: 0.9rem;

    background: #454D53;
    color: #fff;

    margin-top: 1rem;

    width: 40%;
}

.login .notification {
    text-align: center;
    position: absolute;
    bottom: -50px;
    width: 100%;
    left: 0px;
    font-size: 20px;
    color: #9DD22D;
}

.login .notification.error {
    color: orangered;
}
