<html>
    <head>
        <title>Custom Error Page</title>
        <link rel="stylesheet" type="text/css" href="css/login.css"/>
    </head>

    <body>
        <div class="error">
            #if ($error)
                <div class="notification error"><strong>There was and exception: ${error}</strong></div>
            #end
        </div>
    </body>
</html>
