<html>
    <head>
        <title>Custom Login Page</title>
        <link rel="stylesheet" type="text/css" href="css/login.css"/>
        <script type="text/javascript">
            var hash = window.location.hash;
            document.cookie = "hashPart=" + window.btoa(hash);
        </script>
    </head>

    <body>
        <div class="login">
            #if ($error)
                <div class="notification error"><strong>${errorCaption}</strong></div>
            #end

            #if ($loggedOut)
                <div class="notification"><strong>${logoutCaption}</strong></div>
            #end

            <div>
                <span class="loginCaption">Patient Portal</span>

                <form method="post" action="${contextPath}/login">
                    <table width="100%">
                        <tr>
                            <td class="caption">
                                Username
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="username" type="text" name="username"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="caption">
                                Password
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="password" type="password" name="password"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="submit-button" type="submit" value="Login"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
