@import "../valo/valo.scss";

$v-font-family: 'Ubuntu', sans-serif;
$v-font-weight: 400;
$v-font-color: #434D54;

.portal {
  @include valo;

  .v-grid {
    border: 0;
  }

  .v-grid tr:hover {
    background-color: #FAFAFA;
    cursor: pointer;
  }

  .v-grid v-grid-row-focused {
    background: #454D53 none;
    color: #fff;
    border: none;
  }

  .v-grid .v-grid-row-selected > .v-grid-cell {
    background: #454D53 none;
    color: #fff;
    border: none;
  }

  .v-grid-header .v-grid-cell {
    text-transform: uppercase;
    border-color: transparent;
    background: #9DD22D none;
    color: #FFFFFF;

  }

  .v-grid-header a {
    color: #FFFFFF;
    font-weight: bold;
  }

  .v-grid td {
    border-color: transparent;
  }

  .main .v-tabsheet-tabitemcell {
    font-size: 16px;
    line-height: 60px;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    color: #fff;
    height: 100%;

    &:hover {
      background: #747C81;
      .v-caption {
        color: #ddd;
      }
    }
  }
  .main .v-tabsheet-tabitem {
    color: #fff;
  }
  .main .v-tabsheet-tabitem-selected {
    background: #fff;
    .v-caption {
      border: none;
      .v-captiontext {
        color: #9DD22D;
      }
    }
  }

  .main .v-tabsheet-tabcontainer {
    background: #B5B9BC;
  }

  .portal .main .v-tabsheet-content {
    background: #fff;
  }
  .portal .main .v-tabsheet-tabitemcell .v-caption {
    color: #fff;
  }

  .detail-tabs .v-tabsheet-tabitem-selected .v-caption.v-caption {
    border-color: #9DD22D;
    color: #9DD22D;
  }

  .detail-tabs .v-captiontext {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 17px;
  }

  .addButton {
    background: #454D53;
    color: #fff;
    text-transform: uppercase;
    box-shadow: none;
    border: 1px solid #454D53;
  }

  .uppercase,
  .v-caption-uppercase {
    text-transform: uppercase;
  }

  .v-caption-name-label {
    .v-captiontext {
      font-size: 0.8em;
      color: #B5B9BC;
      font-weight: 400;
    }
    padding-bottom: 0;
  }
  .v-label-name-label {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding-right: 25px;
  }

  .data-layout {
    .v-formlayout-row > td {
      padding: 5px 0 5px 20px !important;
    }
    .v-formlayout-row:nth-child(odd) {
      background: #FAFAFA;
    }
    .v-formlayout-row:nth-child(even) {

    }

    .v-formlayout-captioncell {
      text-transform: uppercase;
      color: #B5B9BC;
    }
    .v-formlayout-contentcell {
      border-left: #FFFFFF 2px solid;
    }
  }

  .data-edit-layout .v-formlayout-captioncell {
    text-transform: uppercase;
    color: #B5B9BC;
    padding-left: 0;
  }

  .open-close-selection.v-grid {
    v-grid-row {
      background: inherit;
    }
    v-grid-row-focused {
      background: inherit;
      border: none;
    }

    .v-grid-row-selected > .v-grid-cell {
      background: inherit;
      border: none;
      color: inherit;
    }

  }

  .content-layout{
    padding: 50px;
  }

  .v-button-borderless.v-button-danger {
    color: #FF5DBA;
    &:hover {
      background: #FF5DBA;
      color: #fff;
    }
  }
}